<!DOCTYPE html>
<html>
	<head>
		<title>Vinylist</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

	 	<script src="../jquery/dist/jquery.js"></script>
	 	<script src="../underscore/underscore-min.js"></script>
		<script src="../bootstrap/dist/js/bootstrap.js"></script> 
		<script src="../javascript/app.js"></script>

		<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheet/main.css">
	</head>
	<body>
		<header>
			<h1>Vinylist</h1>
		</header>
		<div class="container">
			<div class="row searchBar">
				<div class="col-md-6 col-md-offset-3">
					<input type="text" class="form-control" placeholder="Album Name">				
				</div>
			</div>
			<div class="row">
				<div class="button col-md-6 col-md-offset-3">
					<button type="submit" class="btn btn-default">Submit</button>				
				</div>
			</div>
			
		</div>
		<div id="albumCon"></div>
	
		<!-- Underscore Template -->
		<script type="text/template" id="albumTemp">
			<div class="info">
				<a href="http://www.discogs.com/<%= uri %>">
				<div class = "row">
					<img src="<%= thumb %>" alt="album cover image" class="col-sm-2 img-rounded">
					<div class="col-sm-8 panel panel-default">
  						<div class="panel-heading"><%= title %></div>  						
  						<div class="panel-body">cat no: </div>  						
					</div>		
					<div class="col-sm-2 glyphicon glyphicon-heart-empty"></div>
				</div>			  					  			
				</a>
			</div>
		</script>

	</body>
</html>










